.DS_Store
*.i
*.o
*.a
*.so
*.lib
*.exe
*.dll
*.out
*.iml
*.log
*.dylib

x64/
.bin/
.idea/
Debug/
.glide/
.vscode/
Release/
bin/gopls

!.bin/*.sh

bin/gopls
src/apps/*/*.pid
src/apps/*/*.yaml
src/client
src/apps/front/front
src/apps/console/console
src/apps/task/task
src/apps/bga/bga
src/apps/bgb/bgb
src/apps/cb/cb
src/apps/ca/ca
src/apps/ticker/ticker
pkg
